<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Product Id="*" UpgradeCode="{{ data.app.components.container['adobe'].wix_guid }}" Version="{{ data.app.version }}"
           Language="1033" Name="{{ data.app.name }}" Manufacturer="{{ data.company_name }}">
    <Package InstallerVersion="300" Compressed="yes" Platform='x64' />
    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="{{ data.app.components.container['adobe'].root_dir }}" Name="Adobe" />
      </Directory>
    </Directory>
    <Feature Id="AdobeExtension" Title="Adobe Extension" Level="1">
      <ComponentGroupRef Id="{{ data.app.components.container['adobe'].group }}" />
    </Feature>

  </Product>
</Wix>
