<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Product Id="*" UpgradeCode="{{ data.app.components.container['unreal'].root_dir }}"
            Version="{{ data.app.version }}"
            Language="1033" Name="{{ data.app.name }}" Manufacturer="{{ data.company_name }}">
    <Package InstallerVersion="300" Compressed="yes" Platform='x64' />
    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WindowsVolume">
        <Directory Id="{{ data.app.components.container['unreal'].root_dir }}" Name="UE_5.1" />
      </Directory>
    </Directory>
    <Feature Id="SpectraUnreal" Title="Unreal with Spectra" Level="1">
      <ComponentGroupRef Id="{{ data.app.components.container['unreal'].group }}" />
    </Feature>

  </Product>
</Wix>
