<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
<Bundle Name="{{ data.company_name }} {{ data.app.name }}"
        Version="{{ data.app.version }}"
        Manufacturer="{{ data.company_name }}"
        UpgradeCode="{{ data.bundle.wix_guid }}"
        IconSourceFile="{{ data.icon.path_work }}">
  <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
    <bal:WixStandardBootstrapperApplication LicenseUrl="http://opensource.org/licenses/ms-rl"
                                            LogoFile="{{ data.splash_image.path_work }}"
                                            ThemeFile="$(var.ThemeFile)"
                                            LocalizationFile="$(var.LocalizationFile)" />
  </BootstrapperApplicationRef>
  <Chain>
    <PackageGroupRef Id="redist" />
    <PackageGroupRef Id="InstallerPackages" />
  </Chain>
</Bundle>
{% include "redist.wxs.j2" %}
<Fragment>
  <PackageGroup Id="InstallerPackages">
    <MsiPackage SourceFile="$(var.MsiPath)" DisplayInternalUI="no">
      <MsiProperty Name="ARPSYSTEMCOMPONENT" Value="1" />
    </MsiPackage>
  </PackageGroup>
</Fragment>
</Wix>
