<Fragment>
  <!-- C++ Runtime -->
  <util:RegistrySearch Id="VCPLUSPLUS14" Variable="VCPLUSPLUS14" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\VC\Runtimes\X64" Value="Installed" Result="value" />
  <util:FileSearch Id="GetVC14X64Exists" Condition="VersionNT64" Variable="vc14x64Exists" Result="exists" Path="[System64Folder]vcruntime140.dll" />
  <util:FileSearch Id="GetVC14X64Version" Condition="VersionNT64" Variable="vc14x64Version" Result="version" Path="[System64Folder]vcruntime140.dll" />
  <PackageGroup Id="redist">
    <ExePackage Name="vc_redist.x64.exe" Id="vc140" InstallCondition="1" Compressed="no" Protocol="burn" PerMachine="yes" Cache="no" Vital="yes" Permanent="yes" DetectCondition="VCPLUSPLUS14" DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/ed95ef9e-da02-4735-9064-bd1f7f69b6ed/CE6593A1520591E7DEA2B93FD03116E3FC3B3821A0525322B0A430FAA6B3C0B4/VC_redist.x64.exe">
      <RemotePayload CertificatePublicKey="59B20D824EF56E7B220A21733E5E90BCB35FB9D5" CertificateThumbprint="EDFF0D6EA868D5A5A1A7367AEF3528F7A5512842" Description="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.32.31332" Hash="D4F9181E70E3F1AA6C8EDFFCC15B3C3D4BABE36B" ProductName="Microsoft Visual C++ 2015-2022 Redistributable (x64) - 14.32.31332" Size="25234792" Version="14.32.31332.0" />
    </ExePackage>
  </PackageGroup>
</Fragment>
