<?xml version='1.0'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Fragment>
    <SetProperty Id="WinDefenderAllowDecoder" Before="WinDefenderAllowDecoder" Sequence="execute" Value="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -nop -ep bypass -file &quot;[IRISROOTDIRECTORY]firewall.ps1&quot; -Command Add" />
    <CustomAction Id="WinDefenderAllowDecoder" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" />
  </Fragment>
  <Fragment>
    <SetProperty Id="WinDefenderRemoveDecoder" Before="WinDefenderRemoveDecoder" Sequence="execute" Value="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -nop -ep bypass -file &quot;[IRISROOTDIRECTORY]firewall.ps1&quot; -Command Remove" />
    <CustomAction Id="WinDefenderRemoveDecoder" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" />
  </Fragment>
  <Fragment>
    <SetProperty Id="StopIris" Before="StopIris" Sequence="execute"
      Value="&quot;[IRISROOTDIRECTORY]nssm.exe&quot; stop StreamboxIris" />
    <CustomAction Id="StopIris" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" />
  </Fragment>
  <Fragment>
    <SetProperty Id="InstallServiceIris" Before="InstallServiceIris" Sequence="execute"
      Value="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -nop -ep bypass -file &quot;[IRISROOTDIRECTORY]service.ps1&quot;" />
    <CustomAction Id="InstallServiceIris" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" />
  </Fragment>
  <Fragment>
    <SetProperty Id="UninstallServiceIris" Before="UninstallServiceIris" Sequence="execute"
      Value="&quot;[IRISROOTDIRECTORY]nssm.exe&quot; remove StreamboxIris confirm" />
    <CustomAction Id="UninstallServiceIris" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" />
  </Fragment>
</Wix>
