<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
  <Fragment>
    <SetProperty Id="WinDefenderAllowMediaplayer" Before="WinDefenderAllowMediaplayer" Sequence="execute" Value="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -nop -ep bypass -file &quot;[MEDIAPLAYERROOTDIRECTORY]firewall.ps1&quot; -Command Add" />
    <CustomAction Id="WinDefenderAllowMediaplayer" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" />
  </Fragment>
  <Fragment>
    <SetProperty Id="WinDefenderRemoveMediaplayer" Before="WinDefenderRemoveMediaplayer" Sequence="execute" Value="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -nop -ep bypass -file &quot;[MEDIAPLAYERROOTDIRECTORY]firewall.ps1&quot; -Command Remove" />
    <CustomAction Id="WinDefenderRemoveMediaplayer" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore" />
  </Fragment>
</Wix>
